*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
img{
    height: 500px;
    /* filter:blur(2px); */
     /* filter: brightness(1.1); */
     /* filter: contrast(2); */
     /* filter: grayscale(0); */
     /* filter: hue-rotate(40deg); */
     /* filter: saturate(10) drop-shadow(0px 10px 5px); */
     /* filter: invert(0); */
     filter: opacity(0.3);
     filter: none;
}