*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}

.cover{
    background-color: rgba(0, 255, 255, 0.349);
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 200px);
    justify-items: center;
    align-items: center;
}
#c1:hover{
    transform: rotate(5000deg);
    /* transform: rotateZ(5000deg); */
    background-color: coral;
    transition-property: all;
    transition-duration: 2s;
     transition-timing-function: linear; 
    /* transition-delay: 2s; */
}
#c2:hover{
    /* transform:translate(0px,40px) ; */
    /* transform: translateX(20px); */
    /* transform: translateY(20px); */
    transform: translateY(2in);
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    /* transition-timing-function: linear; */
    /* transition-delay: 2s; */
}
#c3:hover{
    /* transform: skew(20deg); */
    /* transform: skewX(30deg); */
    transform: skewY(30deg);
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
#c4:hover{
    transform: scale(1.5);
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
#c5:hover{
    height: 200px;
    transform:perspective(400px) rotateX(60deg);
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
#c6:hover{
    height: 200px;
    transform:perspective(400px) rotateY(3600deg);
    background-color: coral;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
#c7:hover{
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
#c8:hover{
    height: 150px;
    width: 150px;
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
#c9:hover{
     transform:perspective(400px) translate3d(20px,20px,40px);
    background-color: coral;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;  
    /* transition-delay: 2s; */
}
